/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 236, 220);
}

/* Navbar */
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 70px;
    width: 105px;
    background-image: url('Logo.png');
    background-size: cover;
}

/* Login Container */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-container label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
}

.login-container input {
    width: 375px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login-container .login-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-container .login-btn:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 15px;
}

.links a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    margin-top: 135px;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.footer-section a {
    text-decoration: none;
    color: #007185;
    font-size: 14px;
}
.footer-section a:hover {
    text-decoration: underline;
}
