/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 236, 220);
}

/* Navbar */
.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 70px;
    width: 105px;
    background-image: url('Logo.png');
    background-size: cover;
}

/* Reset Password Container */
.reset-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}

.reset-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.reset-container label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
}

.reset-container input {
    width: 375px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.reset-container .reset-btn {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.reset-container .reset-btn:hover {
    background-color: #0056b3;
}
